@model IEnumerable<Team>
		   
@ExoWeb.LoadTemplates("~/Scripts/ExoWeb/exoweb-templates.htm")

@ExoWeb.Model(new
{
	teams = Team.All
})

@ExoWeb.Render(
	@<section>
		<div class="sys-template readonly" sys:attach="dataview" dataview:data="{~ context.model.teams, source=window, transform=groupBy('Wins').groupBy('items.length').orderBy('group') }">
			<div class="sys-template" sys:attach="dataview" dataview:data="{~ items }">
				<h5>Teams with <span>{binding group}</span> wins:</h5>
				<div class="sys-template" sys:attach="dataview" dataview:data="{~ items, transform=orderBy('Name') }">
					<div>
						<span>{# Name}</span> - 
						<a sys:href="{{ '@Url.Action("Edit", "Team")/' + $dataItem.meta.id }}">Edit</a> | 
						<a href="#" class="button" sys:onclick="{{ 'deleteEntity(' + $dataItem.meta.id + ')' }}">Delete</a>
					</div>
				</div>
			</div>
		</div>

		<p></p>
		<a href="@Url.Action("Edit", "Team")" class="button">Add</a>
		<div class="message">
			<span style="font-weight: bold;"></span>
		</div>
	</section>
)

<script type="text/javascript">
	function showMessage(message) {
		var messageBox = $('.message');
		messageBox.children('span').text(message);
		messageBox.fadeIn();
	}

	function deleteEntity(entityId) {
		var entity = null;
		context.model.teams.forEach(function (team, i) {
			if (team.meta.id == entityId) {
				entity = team;
			}
		});

		if (entity != null) {
			context.model.teams.remove(entity);
			entity.DeleteInstance();
		}
	}
</script>
