@{
	ViewBag.Title = "List Games";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section startupScript
{
	@Html.Raw(ExoWeb.Model(new {
		games = Game.All
	}))

	<script type="text/javascript">
		function showMessage(message) {
			var messageBox = $('.message');
			messageBox.children('span').text(message);
			messageBox.fadeIn();
		}

		function deleteEntity(entityId) {
			var entity = null;
			context.model.games.forEach(function (game, i) {
				if (game.meta.id == entityId) {
					entity = game;
				}
			});

			if (entity != null) {
				context.model.games.remove(entity);
				entity.DeleteInstance();
			}
		}
	</script>
}

<h2>Games</h2>

<section>
	<table class="grid readonly">
	<thead>
	<tr>
		<th>Name</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Number of Teams Playing</th>
		<th>Number of Players per Team</th>
		<th>Winner</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody class="sys-template" sys:attach="dataview" dataview:data="{~ model.games,source=window.context}">
	<tr sys:class="{{ $index % 2 == 0 ? 'even' : '' }}">
				<td class="readonly" sys:attach="content" content:data="{@@ Name}"></td>
				<td class="readonly" sys:attach="content" content:data="{@@ Started}"></td>
				<td class="readonly" sys:attach="content" content:data="{@@ Finished}"></td>
				<td class="readonly" sys:attach="content" content:data="{@@ NumberOfTeamsPlaying}"></td>
				<td class="readonly" sys:attach="content" content:data="{@@ NumberOfPlayersPerTeam}"></td>
				<td class="readonly" sys:attach="content" content:data="{@@ Winner}"></td>
				<td>
					<div sys:attach="toggle" toggle:on="{~ Finished }" toggle:when="{{ function(item){ return item === undefined || item === null; } }}" toggle:action="show">
						<a sys:href="{{ '@Url.Action("Edit", "Game")/' + $dataItem.meta.id }}">Edit</a>
					</div>
					<div sys:attach="toggle" toggle:on="{~ Finished }" toggle:when="{{ function(item){ return item !== undefined && item !== null; } }}" toggle:action="show">
						Locked
					</div>
				</td>
				<td>
					<div sys:attach="toggle" toggle:on="{~ Finished }" toggle:when="{{ function(item){ return item === undefined || item === null; } }}" toggle:action="show">
						<a sys:href="{{ '@Url.Action("Play", "Game")/' + $dataItem.meta.id }}">Play</a>
					</div>
					<div sys:attach="toggle" toggle:on="{~ Finished }" toggle:when="{{ function(item){ return item !== undefined && item !== null; } }}" toggle:action="show">
						<a sys:href="{{ '@Url.Action("ViewResults", "Game")/' + $dataItem.meta.id }}">View Results</a>
					</div>
				</td>
				<td><a href="#" class="button" sys:onclick="{{ 'deleteEntity(' + $dataItem.meta.id + ')' }}">Delete</a></td>
	</tr>
	</table>
</section>
<a href="@Url.Action("Edit", "Game")" class="button">Add</a>

<div class="message">
<span style="font-weight: bold;"></span>
</div>
