@model IEnumerable<Player>

@ExoWeb.LoadTemplates("~/Scripts/ExoWeb/exoweb-templates.htm")

@ExoWeb.Model(new
{
	players = Player.All.Include("this.Gender")
})

@ExoWeb.Render(
	@<section>
		<table class="grid readonly">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Gender</th>
					<th>Points Scored</th>
					<th>Wins</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody class="sys-template" sys:attach="dataview" dataview:data="{~ context.model.players, source=window }">
				<tr sys:class="{{ $index % 2 == 0 ? 'even' : '' }}">
					<td>{# FirstName}</td>
					<td>{# LastName}</td>
					<td>{# Gender}</td>
					<td>{# TotalScore}</td>
					<td>{# Wins}</td>
					<td><a sys:href="{{ '@Url.Action("Edit", "Player")/' + $dataItem.meta.id }}">Edit</a></td>
					<td><a href="#" class="button" sys:onclick="{{ 'deleteEntity(' + $dataItem.meta.id + ')' }}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<a href="@Url.Action("Edit", "Player")" class="button">Add</a>
		<div class="message">
			<span style="font-weight: bold;"></span>
		</div>
	</section>
)

<script type="text/javascript">
	function showMessage(message) {
		var messageBox = $('.message');
		messageBox.children('span').text(message);
		messageBox.fadeIn();
	}

	function deleteEntity(entityId) {
		var entity = null;
		context.model.players.forEach(function (player, i) {
			if (player.meta.id == entityId) {
				entity = player;
			}
		});

		if (entity != null) {
			context.model.players.remove(entity);
			entity.DeleteInstance();
		}
	}
</script>