@{
	ViewBag.Title = "Index.cshtml";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Client Side Examples</h2>
<ul>
	<li>@Html.ActionLink("Client Model", "ClientModel", "ClientSideExamples")</li>
	<li>@Html.ActionLink("Calculated Property", "CalculatedProperty", "ClientSideExamples")</li>
	<li>@Html.ActionLink("ExoWeb Templates", "ExoWebTemplates", "ClientSideExamples")</li>
	<li>@Html.ActionLink("ExoWeb Conditions", "ExoWebConditions", "ClientSideExamples")</li>
	<li>@Html.ActionLink("Format Function", "FormatFunction", "ClientSideExamples")</li>
	<li>@Html.ActionLink("Signals", "Signals", "ClientSideExamples")</li>
</ul>